body {
    margin: 0;
}
header {
    height: 30vh;
    overflow: hidden;
    position: relative;
    margin: 0;
    padding: 0;
 
}

.header-photo{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
} 
.sidebar {
    text-align: center;
    margin-top: 20px;
}
.sidebar a{
    
    margin-right: 40px;
    display: inline;
    color: #182524;
    text-decoration: none;
    font-size: 20px;
}
.sidebar a:hover {
    color: #666;
}
p {
    margin-top: 20px;
    width:50%;
    margin: 0 auto;
    background-color: #E2F1E6;
    border-radius: 15px;
    padding: 10px;
    text-align: center;
    display: block;
    font-family: "Bricolage Grotesque", sans-serif;
}


p b {
    font-family: "Borel", cursive;
    
}
h2 {
    text-align: center;
    font-family: "Bricolage Grotesque", sans-serif;
}
 

footer {
    background-color: #182524;
    height: 50px;
    position: relative;
    overflow: hidden;

}
i{
    font-family: "Bricolage Grotesque", sans-serif;
    color: #E2F1E6;
    font-size: small;
  
  }
  @media screen and (max-width:768px){
    body{
        flex-direction: column;
    }
    h2, p{
        width: 100%;
        flex: 1 1 100%;
        width:fit-content;
        margin: 0 auto;
        padding: 10px;
        text-align: center;
        margin-bottom: 20px;
        font-family: "Bricolage Grotesque", sans-serif ;
    }
    }
