body {
    margin: 0;
}
*{
    box-sizing: border-box;
}
header {
    height: 50vh;
    overflow: hidden;
    position: relative;
    margin: 0;
    padding: 0;
 
}

.header-photo{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
} 
.sidebar{
    float: right;
}
.sidebar a{
    margin-right: 40px;
    display: inline;
    color: #F2E2DE;
    text-decoration: none;
    font-size: 20px;
}
.sidebar a:hover {
    color: #666;
}
/*nav{
    margin-left: 40px;
    float: right;
}
nav a{
    display: inline-block;
    margin-left: 40px;
    font-weight: 700;
    text-transform: uppercase;
    size: 14px;
    color: #F2E2DE;
}
nav a:hover {
    color: #666;
  }
header h1{
    font-family: "Borel", cursive;
    font-weight: 400;
    font-style: normal; 
}
header p{
    font-family: "Bricolage Grotesque", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
}*/
.borel-regular {
    font-family: "Borel", cursive;
    font-weight: 400;
    font-style: normal;
  }
  /* <uniquifier>: Use a unique and descriptive class name
     <weight>: Use a value from 200 to 800 */
.bricolage-grotesque {
    font-family: "Bricolage Grotesque", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  }
  /* styling the main section of the page*/
  main{
    padding: 40px;
    margin: 0;
  }
  b {
    font-family: "Borel", cursive;
  }
  h4 {
    background-color: #E2F1E6;
    display: block;
    border-radius: 50px;
    width:fit-content;
    margin: 0 auto;
    padding: 10px;
    text-align: center;
    margin-bottom: 10px;
    font-family: "Bricolage Grotesque", sans-serif;
}
  .sections {
    display: flex;
    gap: 30px;
  }
   .about {
    font-family: "Bricolage Grotesque", sans-serif;
    flex: 1;
    width: 50%;
    display: flex;
    padding: 10px;
    background-color: #E2F1E6;
    border-radius: 15px;
    flex-direction: column; /* Stack content vertically */
    justify-content: center; /* Center content vertically */
    align-items: center; /* Center content horizontally */
    text-align: center;

  }
 .clients, .employees {
    font-family: "Bricolage Grotesque", sans-serif;
    margin-bottom: 50px;
    flex: 1;

    display: flex; /* Use flexbox for centering content */
    flex-direction: column; /* Stack content vertically */
    justify-content: center; /* Center content vertically */
    align-items: center; /* Center content horizontally */
    text-align: center;

  }
  .client-photo{
    height: 150px;
    padding: 10px;
    margin-left: 20px;
  }
  .employee-photo{
    height: 160px;
    padding: 10px; 
    margin-left: 20px;
  }
  
  footer {
    background-color: #182524;
    height: 50px;
    position: relative;
    overflow: hidden;

}
i {
  font-family: "Bricolage Grotesque", sans-serif;
  color: #E2F1E6;
  font-size: small;

}

/*Adding animation in the about section*/
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.animate-paragraph {
  opacity: 0;
  animation: fadeIn 0.6s ease-out forwards;
}

/* Add a delay to each paragraph */
.animate-paragraph:nth-child(1) {
  animation-delay: 0.2s;
}

.animate-paragraph:nth-child(2) {
  animation-delay: 0.5s;
}

.animate-paragraph:nth-child(3) {
  animation-delay: 0.8s;
}

.animate-paragraph:nth-child(4) {
  animation-delay: 1s;
}
@media screen and (max-width:768px){
    .sections{
        flex-direction: column;
    }
    .about, .clients, .employees, .projects{
        width: 100%;
        flex: 1 1 100%;
    }
}