header {
    height: 450px;
    background-color: #182524 ;
}
/* This logo styling is not working and I don't know why*/
header .logo{
    size: 50px;
    background-color: red;
    border: 1px solid black;
    float: left
} 
nav{
    margin-left: 40px;
    float: right;
}
nav a{
    display: inline-block;
    margin-left: 40px;
    font-weight: 700;
    text-transform: uppercase;
    size: 14px;
    color: #F2E2DE;
}
header h1{
    font-family: "Borel", cursive;
    font-weight: 400;
    font-style: normal; 
}
header p{
    font-family: "Bricolage Grotesque", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
}
.borel-regular {
    font-family: "Borel", cursive;
    font-weight: 400;
    font-style: normal;
  }
  /* <uniquifier>: Use a unique and descriptive class name
     <weight>: Use a value from 200 to 800 */
.bricolage-grotesque {
    font-family: "Bricolage Grotesque", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  }  